<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>Header</title>
</head>
<header>
    <div class="container">
        <div class="jumbotron">
            <h1>Lawless French</h1>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Home</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Level A1
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">À l’hôtel</a></li>
                                <li><a href="#">Au restaurant</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Level A2
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bise à la française</a></li>
                                <li><a href="#">Comment utiliser les toilettes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Level B1
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Chapeaux en France</a></li>
                                <li><a href="#">Chefs cuisiniers célèbres</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Level B2
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bruxelles</a></li>
                                <li><a href="#">Cafetière à piston – comment l’utiliser ?</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
</html>