<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="home-content.css">
</head>
<body>
    <main>
        <section id="home-content">
                <div id="Slogan">
                    <h1>Learn Frencais For The Future</h1>
                    <p>Web For French's Learner </p>
                </div>
                <div id="content">
                    Khong biet viet gi 
                </div>
        </section>
    </main>
</body>
</html>